In [5]:
import pandas as pd
import sqlite3

In [4]:
!conda install -y sqlite

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.7.12
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [6]:
conn = sqlite3.connect('example.db')
print(conn)

<sqlite3.Connection object at 0x7ff7797e4300>

In [25]:
c = conn.cursor()

Create table in the database

In [8]:
c.execute('CREATE TABLE inv (name text, qty real)')

Insert data into database

In [9]:
c.execute("INSERT INTO inv VALUES ('Screw', 30.5)")

In [10]:
conn.commit()

In [26]:
c.execute("INSERT INTO inv VALUES ('Plate', 10.2)")

In [27]:
conn.commit()

Get data from database

In [31]:
c.execute("SELECT * FROM inv")

In [34]:
print(c.fetchone())

('Screw', 30.5)

In [39]:
c.execute("SELECT * FROM inv")

In [40]:
for i in c.fetchall():
    print(i)

('Screw', 30.5)
('Plate', 10.2)
('Plate', 10.2)
('Plate', 10.2)

In [41]:
conn = sqlite3.connect('example.db')
pd.read_sql("select * from inv;", conn)

    name   qty
0  Screw  30.5
1  Plate  10.2
2  Plate  10.2
3  Plate  10.2