# MongoDB Tutorial

MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemata. For more details, see https://wikipedia.org/wiki/MongoDB.

![mongodb](https://cdn.educba.com/academy/wp-content/uploads/2019/04/MongoDB-chart1.jpg)

MongoDB will be deploy through docker using this docker image (https://hub.docker.com/_/mongo).

## PyMongo

PyMongo is a Python distribution containing tools for working with MongoDB, and is the recommended way to work with MongoDB from Python. For more details, see https://api.mongodb.com/python/current/

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/yoyo/anaconda3/lib/python3.7/site-packages (3.9.0)

In [2]:
import pymongo

Connect to the MongoDB server.

In [3]:
myclient = pymongo.MongoClient("mongodb://mongo:password@localhost:27017/")

In [4]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### Create Database
If the database exists, open it instead.

In [5]:
mydb = myclient["employee"]

In [6]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'employee')

**Important: In MongoDB, a database is not created until it gets content!**

Check the available databases.

In [7]:
print(myclient.list_database_names())

['admin', 'config', 'employee', 'local']

### Create Collection

In [8]:
mycol = mydb["customers"]

In [9]:
mycol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'employee'), 'customers')

### Insert Document

If you want to insert one document, use `insert_one` function. The input data is given as a `dict`. And it will be stored as JSON in the MongoDB.

In [10]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

The `insert_one()` method returns a `InsertOneResult` object, which has a property, `inserted_id`, that holds the id of the inserted document.

In [11]:
x

In [12]:
print(x.inserted_id)

5dee0157a81a0cb00cec8aff

### Insert Multiple Documents
To insert multiple documents, use `insert_many` functions with input as the array of dictionaries with the same keys.

In [13]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Jake", "address": "Harrow 12"},
  { "name": "Michael", "address": "Harrow 345"}
]

x = mycol.insert_many(mylist)

In [14]:
x

In [15]:
print(x.inserted_ids)

[ObjectId('5dee0157a81a0cb00cec8b00'), ObjectId('5dee0157a81a0cb00cec8b01'), ObjectId('5dee0157a81a0cb00cec8b02')]

### Insert Multiple Documents, with Specified IDs
If you do not want MongoDB to assign unique ids for you document, you can specify the `_id` field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same `_id`.

In [16]:
mylist = [
  { "_id": 1, "name": "Hannah", "address": "Highway 37"},
  { "_id": 2, "name": "Paul", "address": "Apple st 652"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[1, 2]

### Check Collections and Documents

In [17]:
print(mydb.list_collection_names())

['customers']

In [18]:
print(myclient.list_database_names())

['admin', 'config', 'employee', 'local']

### Find Document

To select a document from a collection in MongoDB, use the `find_one()` method, which returns the first occurrence in the selection.

In [19]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John', 'address': 'Highway 37'}

#### Find All

To select all occurrences in the selection, use the `find()` method.

In [20]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b00'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b01'), 'name': 'Jake', 'address': 'Harrow 12'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b02'), 'name': 'Michael', 'address': 'Harrow 345'}
{'_id': 1, 'name': 'Hannah', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Paul', 'address': 'Apple st 652'}

The first parameter of the `find()` method is a query object used for filtering the query result.

In [21]:
myquery = { "address": "Highway 37" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'Hannah', 'address': 'Highway 37'}

The second parameter of the `find()` method is an object describing which fields to include in the result.

In [22]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Jake', 'address': 'Harrow 12'}
{'name': 'Michael', 'address': 'Harrow 345'}
{'name': 'Hannah', 'address': 'Highway 37'}
{'name': 'Paul', 'address': 'Apple st 652'}

In [23]:
for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b00'), 'name': 'Amy'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b01'), 'name': 'Jake'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b02'), 'name': 'Michael'}
{'_id': 1, 'name': 'Hannah'}
{'_id': 2, 'name': 'Paul'}

### Filter With Regular Expressions

Can only be used to query strings. For more details, see https://docs.mongodb.com/manual/reference/operator/query/regex/.

In [24]:
myquery = { "address": { "$regex": "^H" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b01'), 'name': 'Jake', 'address': 'Harrow 12'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b02'), 'name': 'Michael', 'address': 'Harrow 345'}
{'_id': 1, 'name': 'Hannah', 'address': 'Highway 37'}

In [25]:
myquery = { "name": { "$regex": "^J" }, "address": { "$regex": "^H" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dee0157a81a0cb00cec8aff'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dee0157a81a0cb00cec8b01'), 'name': 'Jake', 'address': 'Harrow 12'}

### Sort Result

In [26]:
mydoc = mycol.find({},{ "_id": 0}).sort("name")

for x in mydoc:
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Highway 37'}
{'name': 'Jake', 'address': 'Harrow 12'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Michael', 'address': 'Harrow 345'}
{'name': 'Paul', 'address': 'Apple st 652'}

In [27]:
mydoc = mycol.find({},{ "_id": 0}).sort("name", -1)

for x in mydoc:
    print(x)

{'name': 'Paul', 'address': 'Apple st 652'}
{'name': 'Michael', 'address': 'Harrow 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Jake', 'address': 'Harrow 12'}
{'name': 'Hannah', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}

You can limit the amount of query result.

In [28]:
mydoc = mycol.find({},{ "_id": 0}).limit(3)

for x in mydoc:
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Jake', 'address': 'Harrow 12'}

### Update Documents

To update a document, use `update_one()` method. The first parameter of the `update_one()` method is a query object defining which document to update.

In [29]:
myquery = { "address": "Apple st 652" }
newvalues = { "$set": { "workplace": "Canyon 123" } }

res = mycol.update_one(myquery, newvalues)

In [30]:
res

In [31]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Jake', 'address': 'Harrow 12'}
{'name': 'Michael', 'address': 'Harrow 345'}
{'name': 'Hannah', 'address': 'Highway 37'}
{'name': 'Paul', 'address': 'Apple st 652'}

### Update Many Documents
To update all documents that meets the criteria of the query, use the `update_many()` method.

In [32]:
myquery = { "address": { "$regex": "^Har" } }
newvalues = { "$set": { "name": "Harry" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [33]:
x

In [34]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Harry', 'address': 'Harrow 12'}
{'name': 'Harry', 'address': 'Harrow 345'}
{'name': 'Hannah', 'address': 'Highway 37'}
{'name': 'Paul', 'address': 'Apple st 652'}

However, you cannot update fields using its current value or other fields directly.

In [35]:
for d in mycol.find():
    myquery = { "_id": d['_id'] }
    newvalues = { "$set": { "name": "Mr."+d['name'] } }

    res = mycol.update_one(myquery, newvalues)

In [36]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'Mr.John', 'address': 'Highway 37'}
{'name': 'Mr.Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Mr.Harry', 'address': 'Harrow 12'}
{'name': 'Mr.Harry', 'address': 'Harrow 345'}
{'name': 'Mr.Hannah', 'address': 'Highway 37'}
{'name': 'Mr.Paul', 'address': 'Apple st 652'}

### Delete Documents

To delete one document, we use the `delete_one()` method.

The first parameter of the `delete_one()` method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [37]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'Mr.John', 'address': 'Highway 37'}
{'name': 'Mr.Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Mr.Harry', 'address': 'Harrow 12'}
{'name': 'Mr.Harry', 'address': 'Harrow 345'}
{'name': 'Mr.Hannah', 'address': 'Highway 37'}
{'name': 'Mr.Paul', 'address': 'Apple st 652'}

In [38]:
myquery = { "name": { "$regex": "^Mr.H" } }

x = mycol.delete_one(myquery)

In [39]:
x

In [40]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'Mr.John', 'address': 'Highway 37'}
{'name': 'Mr.Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Mr.Harry', 'address': 'Harrow 345'}
{'name': 'Mr.Hannah', 'address': 'Highway 37'}
{'name': 'Mr.Paul', 'address': 'Apple st 652'}

To delete more than one document, use the `delete_many()` method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [41]:
myquery = { "address": {"$regex": "^H"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

3  documents deleted.

In [42]:
x

Delete all documents

In [43]:
#x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

3  documents deleted.

In [44]:
for x in mycol.find({},{ "_id": 0}):
    print(x)

{'name': 'Mr.Amy', 'address': 'Apple st 652', 'workplace': 'Canyon 123'}
{'name': 'Mr.Paul', 'address': 'Apple st 652'}

### Delete Collection
To delete a collection, use the `drop()` method.

In [45]:
#mycol.drop()

In [46]:
print(mydb.list_collection_names())

['customers']

### Delete Database

Use `drop_database` function

In [47]:
#myclient.drop_database("employee")

In [48]:
print(myclient.list_database_names())

['admin', 'config', 'employee', 'local']